
@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "13";
    src: url("../static/13.woff2") format("woff2");
}
header{
    /* border: 1px solid red; */
    height: 130px;
    /* width: 100px; */
    /* background-color:blue; */
    /* position: fixed; */
    background-color: rgba(195, 197, 197, 0.2);

}
.logo{
    /* border: 1px solid red; */
    height: 130px;
    width: 500px;
    float: left;
    position: relative;
    left: 10px;
    /* background-image: url(/images/full_logo.png); */
}
.logo:hover{
    cursor: pointer;
}
.logo h1{
    position: relative;
    top: -150px;
    left: 200px;
    color: black;
    font-family: "13";
    font-size: 40px;
    /* text-shadow: 0 0 10px royalblue,0 0 20px royalblue,0 0 30px royalblue,0 0 40px royalblue; */

}
.logo img{
    position: relative;
    top: -35px;
}
.menu{
    float: right;
    width: 900px;
    /* border: 1px solid green; */
    height: 130px;
    position: relative;
    right: 10px;
    top: 9px;
}
.menu a{
    font-family: "13";
    display: inline-block;
    font-size: 38px;
    width:bolder;
    line-height: 120px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    /* text-shadow: 0 0 10px royalblue,0 0 20px royalblue,0 0 30px royalblue,0 0 40px royalblue; */
    border-radius: 30px;
}
.menu a:hover{
    /* background-color:rgb(18, 107, 174,0.1); */
    box-shadow: rgb(193, 185, 185) 0px 20px 30px;
    /* color: red; */
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
}
.main{
    margin-top: 30px;
    /* border: 1px solid gold; */
}
.p1{
    font-family: "13";
    font-size: 50px;
    text-align: center;
}
.big{
    /* border: 1px solid teal; */
    height: 400px;
}
.big div{
    /* border: 1px solid red; */
    height: 250px;
    width: 300px;
    /* position: relative; */
    float: left;
    margin-left: 80px;
    margin-top: 80px;
    border-radius: 20px;
}
.f1{
    background-image: url(../images/food1.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-position: right 35% bottom 45%;

}
.f2{
    background-image: url(../images/food2.jpg);
    background-size: cover; 
    background-position: center;
    
}
.f3{
    background-image: url(../images/food3.jpg);
    background-size: cover;
    background-position: center;
}
.f4{
    background-image: url(../images/food4.jpg);
    background-size: cover;
    background-position: center;
}
.hlt{
    /* border: 4px solid red; */
    height: 850px;
}
.box1{
    margin: 0 auto;
    /* border: 1px solid red; */
    width: 1200px;
    height: 700px;
    margin-top: 40px;
    border-radius: 40px;
    background-color:rgb(210, 105, 30,0.1);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.img1{
    /* border: 1px solid red; */
    height: 500px;
    width: 400px;
    margin-top: 100px;
    background-image: url(../images/hlt.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-left: 60px;
    float: left;
}
.hlt_js{
    /* border: 1px solid red; */
    height: 500px;
    width: 600px;
    margin-top: 70px;
    float: right;
    margin-right: 60px;
    border-radius: 30px;
    font-family: "13";
}
.hlt_js h1{
    font-size: 50px;
    text-align: center;
}
.hlt_js p{
    font-size: 22px;
    /* text-align: center; */
    line-height: 40px;
}

.hm{
    /* border: 1px solid red; */
    height: 850px;
}
.img2{
    height: 500px;
    width: 400px;
    margin-top: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-left: 60px;
    float: left;
    background-image: url(../images/hm.jpg);
}
.hm_js{
     /* border: 1px solid red; */
     height: 500px;
     width: 600px;
     margin-top: 70px;
     float: right;
     margin-right: 60px;
     border-radius: 30px;
     font-family: "13";
}
.hm_js h1{
    font-size: 50px;
    text-align: center;
}
.hm_js p{
    font-size: 22px;
    /* text-align: center; */
    line-height: 40px;
}
#box2{
    background-color: rgb(250, 235, 215,0.2);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}