
@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "13";
    src: url("../static/13.woff2") format("woff2");
}
@font-face {
    font-family: "12";
    src: url("../static/12.woff2") format("woff2");
}
header{
    /* border: 1px solid red; */
    height: 130px;
    /* width: 100px; */
    /* background-color:blue; */
    /* position: fixed; */
    background-color: rgba(195, 197, 197, 0.2);

}
.logo{
    /* border: 1px solid red; */
    height: 130px;
    width: 500px;
    float: left;
    position: relative;
    left: 10px;
    /* background-image: url(/images/full_logo.png); */
}
.logo:hover{
    cursor: pointer;
}
.logo h1{
    position: relative;
    top: -150px;
    left: 200px;
    color: black;
    font-family: "13";
    font-size: 40px;
    /* text-shadow: 0 0 10px royalblue,0 0 20px royalblue,0 0 30px royalblue,0 0 40px royalblue; */

}
.logo img{
    position: relative;
    top: -35px;
}
.menu{
    float: right;
    width: 900px;
    /* border: 1px solid green; */
    height: 130px;
    position: relative;
    right: 10px;
    top: 9px;
}
.menu a{
    font-family: "13";
    display: inline-block;
    font-size: 38px;
    width:bolder;
    line-height: 120px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    /* text-shadow: 0 0 10px royalblue,0 0 20px royalblue,0 0 30px royalblue,0 0 40px royalblue; */
    border-radius: 30px;
}
.menu a:hover{
    /* background-color:rgb(18, 107, 174,0.1); */
    box-shadow: rgb(193, 185, 185) 0px 20px 30px;
    /* color: red; */
    /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
}

.body{
    height: 1000px;
    background-image: url("../images/banner7.jpg");
    background-size:cover;  /* 让背景图基于容器大小伸缩 */
    background-attachment:fixed;        /**当内容高度大于图片高度时，背景图像的位置相对于viewport固定    //此条属性必须设置否则可能无效/ */
    background-color:#CCCCCC;   /* 设置背景颜色，背景图加载过程中会显示背景色 */
  }

.medium{
    font-family: "12";
    font-size: 90px;
    text-align: center;
    /* border:1px solid red; */
    width: 700px;
    height: 300px;
    margin-top: 200px;
    margin-left: 500px;
    
}
.medium a{
    text-decoration:none ;
    color: rgb(0, 0, 0);
}
body{
    background-color: rgb(250, 235, 215,0.3);
}

.main{
    /* width: 1200px; */
    /* border: 1px solid red; */
    height: 1200px;
}

.head{
    font-family: "13";
    font-size: 70px;
    text-align: center;
    /* border: 1px solid red; */
    height: 130px;
    line-height: 130px;
    background-image: url("../images/logo.png");
    background-size: cover;
    background-position: center;
}

.big_box{
    /* border: 12px solid red; */
    height: 700px;
    width: 500px;
    float: left;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}
.small_box{
    /* border:1px solid green; */
    height: 400px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.title{
    height: 60px;
    /* border: 1px solid red; */
    font-family: "12";
    font-size: 50px;
    text-align: center;
}

.box_head_image{
    /* border: 1px solid red; */
    width: 500px;
    height: 200px;
    background-size: cover;
    background-position: top;
    float: left;
   
}
.box_bottom_wz{
    padding-top: 30px;
    width: 500px;
    float: left;
    /* border: 1px solid turquoise; */
    height: 440px;
    font-family: "13";
    font-size: 23px;
}
.title_a{
    text-decoration: none;
    color: red;
}
#jyl{
    background-image: url("../images/jyl.jpg");
}
#hqq{
    background-image: url("../images/hqq2.jpg");
    background-position: center;
}
#dbs{
    background-image: url("../images/dbs.jpg");
    background-position: center;
}